<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- CSS STYLES -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/dice.css">

  <title>Liar's Dice Online</title>
</head>

<body>
  <div id="app">
    <div style="text-align: center">

      <!-- Start Screen -->

      <div v-if="screen == 'start'" class="flexPlayArea">
        <div class="title">Liar's Dice</div>
        <button type="button" name="button" @click="logInGoogle">LOG IN</button>
      </div>

      <!-- Waiting Room Screen -->

      <div v-if="screen == 'waiting'" class="flexPlayArea">
        <div>
          <h1 class="title">Liar's Dice</h1>
          <br>
          <div>Welcome, {{ username }}!</div>
          <br>
          <br>
          <div class="verticalBox">
            <div v-for="room in rooms" class="verticalBox borderBox" style="min-width: 400px">
              <div v-if="room.available" class ="verticalBox">
                <div class="gameFont">Room {{ room.roomNumber }}</div>
                <waiting-room v-for="user in waitingUsers" v-bind="user" :this-room="room.roomNumber"></waiting-room>
                <button v-if="currentUser.room != room.roomNumber" @click="joinRoom(room.roomNumber)">Join this room</button>
                <div v-if="!currentUser.ready && currentUser.room == room.roomNumber">
                  <button type="button" @click="getReady">Ready!</button>
                  <div>Game will start when everyone clicks "ready".</div>
                </div>
                <div v-if="currentUser.room == room.roomNumber">
                  <div v-if="everyoneReady">Everyone is ready! Enjoy your game!</div>
                  <div v-else>Waiting for other players...</div>
                </div>
              </div>
              <div v-else class ="verticalBox">
                <div class="gameFont">Room {{ room.roomNumber }}</div>
                <div style="margin-top: 10px">A game is in progress.</div>
              </div>
            </div><br>
          </div><br>
          <button v-if="availableRooms.length == 0" @click="makeNewRoom()">Make new room</button>
        </div>
      </div>

      <!-- Game Screen -->

      <div v-if="screen == 'game'" class="flexPlayArea">
        <div class="title">Liar's Dice</div>

        <!-- Other Players -->

        <game-other-players v-for="otherPlayer in otherPlayers" v-bind="otherPlayer" :room-bid-face="currentRoom.bidFace" :room-bid-number="currentRoom.bidNumber" :room-show-dice="currentRoom.showDice" :challenged-face="challengedFace"></game-other-players>

        <!-- Game Status -->

        <div class="horizontalBox" style="margin-top: 20px;">
          <div class="gameFont">{{ playerMoveAnnouncement }}</div>
          <div class="horizontalBox" :class="{otherPlayerStatusWait : currentRoom.action == 'challenge'}">
            <div class="gameFont spacer">{{ currentRoom.bidNumber }}</div>
            <div class="material-icons spacer">close</div>
            <div class="spacer" style="margin-left: 15px">
              <span v-html="dieFaceReplaceRoom"></span>
            </div>
          </div>
        </div>
        <div class="gameFont" style="margin-top: 10px;">{{ turnAnnouncement }}</div>

        <!-- Player Box -->

        <div :class="{ playerStatusWait : !currentUser.turn , playerStatusTurn : currentUser.turn }">

          <div class="verticalBox">
            <div class="gameFont">Your Hand</div>
            <div class="horizontalBox" v-html="dieFaceReplaceBig"></div>
          </div>

          <!-- Bid Box -->

          <div class="verticalBox">
            <div class="horizontalBox">
              <div class="verticalBox">
                <div class="material-icons spacer" @click="bidNumberUp()">arrow_upward</div>
                <div class="gameFont spacer">{{ this.tempBidNumber }}</div>
                <div class="material-icons spacer" @click="bidNumberDown()">arrow_downward</div>
              </div>
              <div class="material-icons spacer">close</div>
              <div class="verticalBox">
                <div class="material-icons spacer" @click="bidFaceUp()">arrow_upward</div>
                <div class="spacer" style="margin-left: 15px">
                  <span v-html="dieFaceReplace"></span>
                </div>
                <div class="material-icons spacer" @click="bidFaceDown()">arrow_downward</div>
              </div>
            </div>
            <button v-if="currentUser.turn"  class="gameFont" @click="startBid()">Bid</button>
            <button v-else class="gameFont disabled" class="gameFont">Bid</button>
          </div>

          <!-- Challenge Box -->

          <div class="verticalBox">
            <div class="spacer"></div>
            <div class="horizontalBox">
              <div class="gameFont spacer">{{ currentRoom.bidNumber }}</div>
              <div class="material-icons spacer">close</div>
              <div class="spacer" style="margin-left: 15px">
                <span v-html="dieFaceReplaceRoom"></span>
              </div>
            </div>
            <div class="spacer"></div>
            <button v-if="firstTurn" class="gameFont disabled">Challenge</button>
            <button v-else-if="currentUser.turn" class="gameFont" @click="makeChallenge()">Challenge</button>
            <button v-else class="gameFont disabled">Challenge</button>
          </div>
        </div>

        <!-- Mood Board and Info -->

        <div class="moodBoard">
          <div class="verticalBox" style="margin-top: 10px">
            <div class="gameFont">Mood</div>
            <div class="moodBoard">
              <div id="😀" class="moodFace" @click="changeMood">😀</div>
              <div id="😁" class="moodFace" @click="changeMood">😁</div>
              <div id="😰" class="moodFace" @click="changeMood">😰</div>
              <div id="😳" class="moodFace" @click="changeMood">😳</div>
              <div id="😭" class="moodFace" @click="changeMood">😭</div>
            </div>
            <div class="moodBoard">
              <div id="😤" class="moodFace" @click="changeMood">😤</div>
              <div id="🤬" class="moodFace" @click="changeMood">🤬</div>
              <div id="😇" class="moodFace" @click="changeMood">😇</div>
              <div id="😈" class="moodFace" @click="changeMood">😈</div>
              <div id="🖕" class="moodFace" @click="changeMood">🖕</div>
            </div>
          </div>
          <div class="playerAppearance" style="margin-top: 10px">
            <div class="gameFont">{{ currentUser.username }}</div>
            <div v-if="currentUser.mood != ''" class="bigMoodFace" @click="clearMood">{{ currentUser.mood }}</div>
            <div v-else><img class="playerImageBig" :src="currentUser.photoURL"></div>
          </div>
        </div>

      </div>
      <div class="error">{{ errorMessage }}</div>

    <!-- Finish Vue -->
    </div>
  </div>

  <!-- SCRIPTS -->

  <!-- Firebase Configuration -->
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyDOlAwdbcUaZ5c8ghdbA9I2W1kKgsoLFw8",
      authDomain: "liars-dice-dmz.firebaseapp.com",
      databaseURL: "https://liars-dice-dmz.firebaseio.com",
      projectId: "liars-dice-dmz",
      storageBucket: "liars-dice-dmz.appspot.com",
      messagingSenderId: "343396169646",
      appId: "1:343396169646:web:249207e90fca28502c3a3f"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript" src="scripts/script.js"></script>
</body>

</html>
